<div class="container">
    <ng-container *ngIf="business$ | async as business; else loading">
        <mat-card class="my-4">
            <mat-card-header>
                <img mat-card-avatar *ngIf="business.photoUrl" [src]="business.photoUrl">
                <mat-card-title>{{business.displayName}}</mat-card-title>
                <mat-card-subtitle *ngIf="(subTitle$ | async) as subTitle">{{subTitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="business.description">{{business.description}}</p>
            </mat-card-content>
        </mat-card>


        <app-calendar-header [(view)]="view" [(viewDate)]="viewDate"></app-calendar-header>
        <app-calendar [view]="view" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="true"></app-calendar>


        <p>business works!</p>
        <pre>{{business$ | async | json}}</pre>
    </ng-container>
    <ng-template #loading>
        LOADING...
    </ng-template>
</div>